@import "tailwindcss";

@theme {
    --font-serif: "Instrument Serif", serif;
    --font-sans: "Instrument Sans", sans-serif;
}

.instrument-serif-regular {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.instrument-serif-regular-italic {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: italic;
}

/* Example usage:
   - Use a real class name instead of <uniquifier>
   - Use a real numeric weight instead of <weight>
*/
.instrument-sans-normal {
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.instrument-sans-regular {
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.instrument-sans-semibold {
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.instrument-sans-bold {
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}